#page {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 2rem;


  > header{
    color: var(--gray-950);
    font-weight: 700;
    text-transform: uppercase;
    padding: 2rem 3rem 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

      >div{
        display: flex;
        width: 100px;
    }

    > button {
      padding: 0.5rem 2rem;
      background: var(--blue-800);
      border-radius: 4px;
      color: var(--gray-100)
    }

  }
}

.note-container{
  margin-top: 2rem;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.note{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--gray-200);
  border-radius: 6px;
  text-decoration: none;
  color: var(--gray-950);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      font-size: 14px;
      color: var(--gray-950);
      font-weight: 700;
    }
  }
}

.form-container{
  background: var(--gray-500);
  border-radius: 6px;
  margin-top: -3rem;
  padding: 2rem;
}

 .svg {
  width: 16px;
  height: 16px;
  color: var(--white);
 }

 .btnAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
 }