.modal-container{
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;

}

.modal-container.active{
  display: flex;
}

.modal {
  background: var(--gray-100);
  border-radius: 6px;
  max-width: 600px;
  padding: 3rem 6rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > header {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;

    > button {
      position: absolute;
      right: 20px;
      top: 20px;
      font-weight: 700;
    }
  }
}

.form {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;

  > button {
    padding: 0.5rem 2rem;
    background: var(--blue-800);
    border-radius: 4px;
    color: var(--gray-100);
    width: 100%;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
  width: 100%;

  > label {
    font-weight: 700;
  }
}

.input {
  padding: 8px 16px;
  border-radius: 6px;
  width: 100%;
}